.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}


/* .container .imagesContainer {
    width: 100%;
} */

.container  .mainImage {
    max-width: 80%;
    margin: 0 auto;
    max-height: 380px;
}

.title {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.container .content {
    padding: 50px;
    background: white;
    border: 1px solid #d6e5f2;
    border-radius: 8px;
    display: grid;
    place-items: center;
    height: 150px;
    width: 60%;
    margin: 0 auto;
}

/* .container .content .pricesCont {
    height: 300px;
}
 */
.container .content .pricesCont div {
    margin-bottom: 10px;
}

.container .content .pricesCont .oldPriceLabel {
    color: rgb(102, 102, 102);
    font-size: 18px;
}

.container .content .pricesCont .oldPrice {
    color: rgb(102, 102, 102);
    font-size: 18px;
    text-decoration: line-through;
}

.container .content .pricesCont .price {
    font-size: 40px;
    margin-top: 30px;
    color: rgb(0, 51, 198);
    font-weight: 800;
}

.container .content .addCartBtn  {
    height: 50px;
    width: 200px;
    background: rgb(0, 51, 198);
    color: white;
    font-size: 16px;
    font-weight: 800;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.container .imagesContainer {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
}

.container .smallImage {
    cursor: pointer;
    max-width: 50px;
    max-height: 50px;
}