
.App .special-carousel-wrapper {
    position: relative;
    width:968px;
    margin: 0 auto;
  }
  
  .App .special-carousel-container {
    height:calc(1.2*388px);
    width:calc(1.2*640px);
    margin:0 auto;
    overflow: hidden;
    position:relative;
    margin-top:50px;
  }
  
  
  .App .special-carousel-container .special-carousel {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height:100%;
    }
  
  .App .special-carousel-container .special-carousel img {
    height:auto;
    width:calc(1.2*640px);
  }
  
  .App .special-carousel-wrapper .special-carousel-products-container {
    position: absolute;
    top:0;
    left:25%;
    height:100%;
    width:100px;
    padding:20px;
  }
  
  .App .special-carousel-wrapper .special-carousel-products {
    opacity: 0;
    height: 100px;
    width:100px;
    background: white;
    position:absolute;
    transition: ease all 1s;
    left: -50%;
    border-radius:10px;
    display:grid;
    grid-template-columns: 1fr 3fr;
  }
  
  .App .special-carousel-wrapper .special-carousel-products-container .special-carousel-products img {
    height:auto;
    width:100%;
    margin-left:10px;
    margin-top:10px;
  }
  
  .App .special-carousel-wrapper .special-carousel-products .scp-content {
    margin:10px 20px;
  }
  
  .App .special-carousel-wrapper .special-carousel-products * {
    font-size:10px;
    margin-top: 10px;
    text-align: left;
  }
  
  
  .App .special-carousel-wrapper .sc-prod1{  
    top: 0;  
  }
  
  .App .special-carousel-wrapper .sc-prod2{
    top: 150px;  
  }
  
  .App .special-carousel-wrapper .sc-prod3{
    top: 300px;  
  }
  
  .App .special-carousel-wrapper:hover .special-carousel-products {
    opacity: 1;
  }
  
  .App .special-carousel-wrapper:hover .sc-prod1 {
    top: 50px;
    width:300px;
    left:-50%;
    transition-delay:0.2s;
  }
  
  .App .special-carousel-wrapper:hover .sc-prod2 {
    top: 175px;
    transition-delay:0.5s;
    width:300px;
    left:-50%;
  }
  
  .App .special-carousel-wrapper:hover .sc-prod3 {
    top: 300px;
    transition-delay:0.7s;
    width:300px;
    left:-50%;
  }
  
  .App .special-carousel-wrapper .arrow-container {
    background:white;
    height:100%;
    width:100px;
    position:absolute;  
    top:0;
    left:0px;
    cursor:pointer;  
    font-size:30px;
    display:grid;
    transition: ease all 1s;
    place-items:center;
    opacity: 0;
  }
  
  .App .special-carousel-wrapper .arrow-container.left {
   left: 100px;
   border-radius: 10px 0 0 10px
  }
  
  .App .special-carousel-wrapper .arrow-container.right{
    left: auto;
    right: 100px;
    border-radius: 0 10px 10px 0;
  }
  
  .App .special-carousel-wrapper:hover .arrow-container.left {
    left:0px;
    opacity: 1;
  }
  
  .App .special-carousel-wrapper:hover .arrow-container.right {
    right:0px;
    left:auto;
    opacity: 1;
  }
  

