.App .promotion1-wrapper {
    margin-top:50px;
  }
  
  .App .promotion1-wrapper .promotion1-container {
    margin:0 auto;
    background:url('./img/promotion1/img1.webp');
    width:1240px;
    height:250px;
  }