.mobile-carousel-wrapper {
    position: relative;
}

.mobile-carousel  {
                background: #EBEBEB;
position: relative;
max-width: 768px;
overflow: hidden;
            }

.mobile-carousel .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    transition: ease all 0.3s;
}

.mobile-carousel-wrapper .center-slick-dots {
    position:absolute;
    left:50%;
    width:200px;
    height: 10px;
    bottom: -20px;
}

.mobile-carousel-wrapper .slick-dots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    width: 200px;
    place-items: center;
    left: -50%;
}

.mobile-carousel-wrapper .dot {
    height: 20px;
    width: 20px;
    background: #EBEBEB;
    border-radius: 50%;
}