.app-ad-mobile {
  background: white;
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  place-items: center;
  position: fixed;
  z-index: 200;
  
}

.app-ad-mobile div {
  grid-column: 2;
  display: grid;
  place-items: center;
  grid-template-columns: 3fr 1fr;
}

.app-ad-mobile img {
  height: 20px;
  width: 20px;
  justify-self: end;
  margin-right: 30px;
  cursor: pointer;
}

.app-ad-mobile span {
  font-size: 20px;
  color: #575757;
  text-align: center;
}

.app-ad-mobile button {
  height: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #51A559;
  color: white;
  border: 0;
  padding-top: 5px;
  padding-bottom: 45px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 7px;
  font-weight: bold;
  border: solid #3c7942 3px;
  font-size: 20px;
  cursor: pointer;
}

.app-ad-mobile button:focus {
  outline: none;
}

.app-ad-mobile button span {
  color: white;
  padding-bottom: 20px;
  font-size: 13px;
}