.buttons-row {
    background: #EBEBEB;
    width: 100%;
    
}

.buttons-row .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap: 10px;
    margin: 0 auto;
    width: 95%;
    padding:20px 0;
    place-items: center;
    height: 100px;
    
}

.grid > * {
    height: 100px;
    border-radius: 10px;
    width: 22vw;
    background: white;
    display: grid;
    justify-items: center;
    align-items: end;
    text-align: center;
    border-bottom: 10px solid #2D5BC9;
}

.grid > * > i {
    font-size: 30px;
    color: #2D5BC9;
    margin-top: 10px;
}

.grid > * > span {
    margin: 0 20px;
    margin-bottom: 13px;
    font-size: 13px;
    color: #2d5bc9;
    font-weight: bold;
    
}
