.App .banner1 {
    margin-bottom:-6px;
    }
    
    .App .banner1 .banner1-wrapper {
      width:100%;
      display:inline-block;
      background: linear-gradient(90deg, rgb(177, 20, 24) 0%, rgb(177, 20, 24) 27%, rgb(93, 0, 0) 69%, rgb(93, 0, 0) 100%);
      }
    
    .App .banner1 .banner1-wrapper .banner1-img {
      width:50%;
      height:auto;
      margin:0 auto;
      display:block;
    }
