.App .header-row-4 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items:center;
    text-align:center;
  }
  
  .App .header-row-4 a {
    text-decoration:none;
    margin:10px 0;
    color: #235AC6;
    position:relative;
  }
  
  .App .header-row-4 a:after {
    content:'';
    height:1px;
    width:0;
    position:absolute;
    left:50%;
    transition: left 0.3s ease, width 0.3s ease;
    display:block;
    bottom:0;
    background:#235AC6;
  }
  
  .App .header-row-4 a:hover:after {
    width:100%;
    left:0;
  }
  