
.App .categories-wrapper-mobile {
    position: relative;
    margin-top: 80px;
  }
  
  .App .categories-wrapper-mobile h1 {
    font-size: 30px;
    color: #004a9d;
    margin:0;
    position: absolute;
    top: -50px;
    left: 110px;
  }
  
  .App .categories-wrapper-mobile .categories-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width:100%;
    background:red;
    margin-top:50px;
    border-radius:20px;
    padding:40px 20px;
    place-items: center;
  }
  
  .App .categories-wrapper-mobile .categories-container .categories-item-mobile {
    max-width:186px;
    height:100%;
  }
  
  .App .categories-wrapper-mobile .categories-container .categories-item-mobile a {
    text-decoration:none;
    text-align:center;
  }
  
  .App .categories-wrapper-mobile .categories-container .categories-item-mobile a img {
    width:130px;
  }
  
  .App .categories-wrapper-mobile .categories-container .categories-item-mobile a:hover  img {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 50%;
  }
  

  .App .categories-wrapper-mobile .categories-container .categories-item-mobile:nth-child(6) {
    position:relative;
  
  }
  
  .App .categories-wrapper-mobile .categories-container .categories-item-mobile:nth-child(6) a {
    width: 130px;
    height:130px;
    border-radius: 50%;
    top:0;
    left:-65px;
    position:absolute;
    background: #ebebeb;
  }
  
  .App .categories-wrapper-mobile .categories-container .categories-item-mobile:nth-child(6) a:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
  .App .categories-wrapper-mobile .categories-container .categories-item-mobile:nth-child(6) a img {
    position: absolute;
    top: 20px;
    left: 0;
    box-shadow:0 0 0 0;
  }
  
  
  .App .categories-wrapper-mobile .categories-container .categories-item-mobile:nth-child(6) a p {
    position: relative;
    top:138px;
  }
