.App .categories-wrapper-mobile {
  position: relative;
  display:grid;
  justify-items: start;
  margin: 0 auto;
  width: 80%;
  margin-top: 50px;
  
}

.App .categories-wrapper-mobile h1 {
  font-size: 30px;
  color: #004a9d;
  margin: 0;
}

.App .categories-wrapper-mobile .categories-container-mobile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: white;
  border-radius: 20px;
  padding: 40px 0;
  place-items: center;
      width: 100%;
  
}

.App .categories-wrapper-mobile .categories-container-mobile .categories-item-mobile {
  height: 100%;
  width: 100%;
      text-align: center;
}

.App .categories-wrapper-mobile .categories-container-mobile .categories-item-mobile a {
  text-decoration: none;
  display: block;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.App .categories-wrapper-mobile .categories-container-mobile .categories-item-mobile p {
  font-size: 20px;
  margin: 10px 0;
  color: #004a9d;
 }

 .App .categories-wrapper-mobile .categories-container-mobile .categories-item-mobile:nth-child(1) a {
  background: url('categories_img/img1') center center/cover no-repeat;
 }

 .App .categories-wrapper-mobile .categories-container-mobile .categories-item-mobile:nth-child(2) a {
  background: url('categories_img/img2') center center/cover no-repeat;
 }

 .App .categories-wrapper-mobile .categories-container-mobile .categories-item-mobile:nth-child(3) a {
  background: url('categories_img/img3') center center/cover no-repeat;
 }

 .App .categories-wrapper-mobile .categories-container-mobile .categories-item-mobile:nth-child(4) a {
  background: url('categories_img/img4') center center/cover no-repeat;
 }

 .App .categories-wrapper-mobile .categories-container-mobile .categories-item-mobile:nth-child(5) a {
  background: url('categories_img/img5') center center/cover no-repeat;
 }

 .App .categories-wrapper-mobile .categories-container-mobile .categories-item-mobile:nth-child(6) a {
  background: url('categories_img/img6') center center/cover no-repeat;
  border-radius: 50%;
  background-position-y: 22px;
  background-size: 150px;
  background-color: #F0EEEF;
 }

 .App .categories-wrapper-mobile .categories-container-mobile .categories-item-mobile:nth-child(7) a {
  background: url('categories_img/img7') center center/cover no-repeat;
 }

 .App .categories-wrapper-mobile .categories-container-mobile .categories-item-mobile:nth-child(8) a {
  background: url('categories_img/img8') center center/cover no-repeat;
 }

 .App .categories-wrapper-mobile .categories-container-mobile .categories-item-mobile:nth-child(9) a {
  background: url('categories_img/img9') center center/cover no-repeat;
 }

 .App .categories-wrapper-mobile .categories-container-mobile .categories-item-mobile:nth-child(10) a {
  background: url('categories_img/img10') center center/cover no-repeat;
 }

 .App .categories-wrapper-mobile .categories-container-mobile .categories-item-mobile:nth-child(11) a {
  background: url('categories_img/img11') center center/cover no-repeat;
 }

 .App .categories-wrapper-mobile .categories-container-mobile .categories-item-mobile:nth-child(12) a {
  background: url('categories_img/img12') center center/cover no-repeat;
 }

 @media (max-width: 880px) {
  .App .categories-wrapper-mobile .categories-container-mobile {
    grid-template-columns: 1fr 1fr;
  }
 }