.header {
    width: 100%;
    border-top: solid blue 5px;
    position: relative;
    background: #f7f7f7;
    margin-bottom: 20px;
}

.header::before {
    border: solid red 2px;
    content: '';
    width: 100%;
    position: absolute;
}

.header .imgContainer {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    place-items: center;
    width: 100%;
    margin-top: 20px;
}

.header .imgContainer div:first-child {
    display: grid;
    grid-template-columns: 1fr 7fr;
    place-items: center;
}

.header .imgContainer div:first-child img:first-child {
    justify-self: end;
    height: 30px;
    margin-left: 50px;
}

.header .imgContainer div:nth-child(2) {
    grid-column: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    place-items: center;
}

.header .imgContainer div:nth-child(2) img:nth-child(1) {
    height: 40px;
}

.header .imgContainer div:nth-child(2) img:nth-child(2) {
    justify-self: start;
    height: 40px;
}

.header .imgContainer div .logo {
    width: 100%;
    height: auto;
}

.header .input {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    width: 90%;
    height: 50px;
    font-size: 20px;
    border: solid #d9d9d9 1px;
    border-radius: 5px;
    padding-left: 20px;
}

.header .sandwich-menu {
    cursor: pointer;
}

.header .side-menu {
    background: #f7f7f7;
    height: auto;
    width: 600px;
    position: absolute;
    top: 0;
    left: -100%;
    transition: ease all 0.3s;
    z-index: 1000;
    border-radius: 0px 5px 5px 0;
}