
.App .products-container-mobile h1{
    font-size: 30px;
    color: #004a9d;
    margin-left: 120px;
    margin-bottom: 10px;
  }
  
  .App .products-container-mobile button{
    background: #004a9d;
    height: 50px;
    width: 250px;
    color: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .App .products-container-mobile button:focus {
    outline: none;
  }
  
  .App .products-container-mobile {
  }

  .App .products-container-mobile .products-grid {
    padding:20px;
    display: grid;
    width: 700px;
    margin: 0 auto;
    grid-template-columns: 235px 235px 235px;
    place-items: center;
    background: white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .App .products-container-mobile .products-grid .product-item {
    height: 300px;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .App .products-container-mobile .products-grid .product-item img {
    width: 150px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-top: 25px;
  }
  
  .App .products-container-mobile .products-grid .product-item span {
    font-size: 12px;
    display: block;
    color: #004a9d;
  }
  
  .App .products-container-mobile .products-grid .product-item span:nth-child(3) {
    font-size: 16px;
    text-decoration: line-through;
    color: #666666;
    margin-top: 25px;
  }
  
  .App .products-container-mobile .products-grid .product-item span:nth-child(4) {
  font-size: 23px;
  color: #004a9d;
  font-weight: bold;
  }
