.App .footer-container .footer-lr3-container {
    display: grid;
    grid-template-columns: 900px 450px ;
    width: 1350px;
    margin: 0 auto;
  }
  
  .App .footer-container .footer-lr3-container h3 {
    margin-left: 100px;
    margin-bottom:0;
    font-size: 14px;
    color: #555555;
  }
  
  .App .footer-container .footer-lr3-container .lr3-glossary {
    margin-top: 10px;
    margin-left: 110px;
  }
  
  
  .App .footer-container .footer-lr3-container .lr3-glossary a {
    border-left: solid black 1px;
    font-size: 12px;
    color: #333333;
    margin: 0 5px;
    padding-left:10px;
    text-decoration: none;
  }
  
  .App .footer-container .footer-lr3-container .lr3-glossary a:first-child {
    border: 0;
    margin-left:0 ;
    padding-left:0;
  }
  
  .App .footer-container .footer-lr3-container > div:nth-child(2) img {
    margin-left: 110px;
    margin-top:10px;  
  }
  
  .App .footer-container .footer-lr3-container > div:nth-child(2) img:nth-child(3) {
    margin-left : 10px;
  }

  @media (max-width: 768px) {

    .App .footer-container .footer-lr3-container {
      width: 600px;
      grid-template-columns: 300px 300px;
    }

  }