.App header .header-row-2 {
    display:grid;
    grid-template-columns: 1fr 4fr 2fr 1fr;
  }
  
  .App header .header-row-2 img {
    width:300px;
    height:auto;
  }
  
  .App header .header-row-2 form {
    border:solid 1px rgb(94, 94, 94);
    padding:10px;
    border-radius:10px;
    display:inline-block;
    margin-left:10%;
    position:relative;
    background-color:white;
  }
  
  .App header .header-row-2 form i {
    color:rgb(131, 131, 131);
  position:absolute;
  right:10px;
  font-size:20px;
  }
  
  .App header .header-row-2 input {
    width:80%;
    border:0;
    height:100%;
  }
  
  .App header .header-row-2 input:focus{
    outline:none;
  }
  
  .App header .header-row-2  > span i,
  .App header .header-row-2  > i {
    color:#2B78F8;
    margin-left:5%;
    font-size:40px;
  }
  
  .App header .header-row-2  > span i {
    justify-self:end;
    margin-right:20px;
    grid-row:  span 2;
  }
  
  .App header .header-row-2  > span {
    display:grid;
    grid-template-columns: 1fr 2fr;  
  }
  
  
  .App header .header-row-2  > span * {
    text-decoration:none;
  }
  
  .App header .header-row-2  > span span {
    grid-column: 2/3;
  }