

.smtop {
    display: grid;
    margin: 10px 0;
    grid-template-columns: 1fr 2fr 2fr;
    place-items: center;
    width: 100%;
}

.smtop  h1:nth-child(4){
    grid-column:2/3;
}

.smtop i {
    color: #0033c6;
}

.smtop  h1{
    margin-top:20px;
 font-size: 14px;
 color: #0033c6;
}