.footer-mobile {
    background: #F5F5F5;
    height: 300px;
    display: block;
    font-family: 'Nunito', sans-serif;
    display: grid;
    place-items: center;
}

.footer-mobile .container {
    width: 80%;
    line-height: 30px;
}

.footer-mobile h5 {
    color: #0033c6;
    font-size: 14px;
    margin: 0;
    
}

.footer-mobile span {
    font-size: 14px;
    color: #707070;
}

.footerLink {
    display: flex;
}