


.smdepartments-wrapper h1 {
    font-size: 18px;
    color: #0033c6;
    margin-left: 20px;
    font-weight: bolder;
}

.smdepartments {
    display: grid;
    grid-template-columns: 5fr 95fr;
    align-items: center;
    margin-left:20px;
}

.smdepartments h1 {
    font-size: 14px;
    margin-left:20px;
    color: #333333;
    font-weight: 100;
}

.smdepartments i {
    color: #0033c6;
    font-size:20px;
    justify-self: center; 
}

.smdepartments img {
    justify-self: center;
}

.smdepartments-wrapper button {
    width: 80%;
    height: 45px;
    margin: 0 auto;
    display: block;
    margin: 20px auto;
    color: #0033c6;
    border: solid 2px #0033c6;
    font-weight: bolder;
    border-radius: 4px;

}