html, body {
  margin:0;
  padding:0;
  box-sizing:border-box;
  height:100%;
  background-color:#F7F7F7;
  font-family: 'Nunito', sans-serif;
}

.App .header-row-1 {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items:end;
  right:5%;
}

.App header .header-row-2 {
  display:grid;
  grid-template-columns: 1fr 4fr 2fr 1fr;
}

.App header .header-row-2 img {
  width:300px;
  height:auto;
}

.App header .header-row-2 form {
  border:solid 1px rgb(94, 94, 94);
  padding:10px;
  border-radius:10px;
  display:inline-block;
  margin-left:10%;
  position:relative;
  background-color:white;
}

.App header .header-row-2 form i {
  color:rgb(131, 131, 131);
position:absolute;
right:10px;
font-size:20px;
}

.App header .header-row-2 input {
  width:80%;
  border:0;
  height:100%;
}

.App header .header-row-2 input:focus{
  outline:none;
}

.App header .header-row-2  > span i,
.App header .header-row-2  > i {
  color:#2B78F8;
  margin-left:5%;
  font-size:40px;
}

.App header .header-row-2  > span i {
  justify-self:end;
  margin-right:20px;
  grid-row:  span 2;
}

.App header .header-row-2  > span {
  display:grid;
  grid-template-columns: 1fr 2fr;  
}


.App header .header-row-2  > span * {
  text-decoration:none;
}

.App header .header-row-2  > span span {
  grid-column: 2/3;
}

/* HeaderRow3 ----------------------------------------------------------------------*/

.App header .header-row-3 .grid-container{
  background-color:#235AC6;
  padding:10px 0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-items:center;
  text-align:center;
  margin-top:10px;
  border-bottom:4px solid #EE483B;
  position:relative;
}

.App header .header-row-3 .grid-container .grid-item{
  height:100%;
  width:100%;
  display:grid;
  place-items:center;
  font-weight:bold;
  font-size:13px;
}

.App header .header-row-3 .grid-container .grid-item1{
  font-size:16px;
position:relative;
}

.App header .header-row-3 .grid-container a {
  color:white;
}


.App header .header-row-3 .grid-container .ddw1 {
  display:none;
  position:absolute;
  top:40px;
  left:0;
 }

 .App header .header-row-3 .grid-container .ddw2 {
  display:none;
  position:absolute;
  top:50px;
  left:150px;
 }

 .App header .header-row-3 .grid-container .dropdown-wrapper * {
   color:#235AC6;
 }

.App header .header-row-3 .grid-container .grid-item1:hover .ddw1, .App header .header-row-3 .grid-container .grid-item2:hover .ddw2 {
  display:block;
}

.App header .header-row-3 .grid-container .dropdown-content {  
  position:relative;
  border:1px solid gray;
  background-color:#F7F7F7;
  border-radius:5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index:2;
}

.App header .header-row-3 .grid-container .ddc1 {
  margin-left:10px;
  padding:10px;
  top:13px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  width:800px;
}

.App header .header-row-3 .grid-container .ddc2 {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  top:13px;
  
}

.App header .header-row-3 .grid-container .dropdown-content::before {
content:'';
position:absolute;
border:10px solid;
border-color: transparent transparent white transparent;
top:-1.2rem;
left:3rem;
}

.App header .header-row-3 .grid-container .ddc1 h3, .App header .header-row-3 .grid-container .ddc2 h3 {
  grid-column: 1/4;
  justify-self:start;
  margin-left:20px;
}

.App header .header-row-3 .grid-container .dropdown-content ul {
  list-style-type:none;
  font-size:16px;
  text-align:left;
}

/* HeaderRow4 ----------------------------------------------------------------------*/

.App .header-row-4 {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-items:center;
  text-align:center;
}

.App .header-row-4 a {
  text-decoration:none;
  margin:10px 0;
  color: #235AC6;
  position:relative;
}

.App .header-row-4 a:after {
  content:'';
  height:1px;
  width:0;
  position:absolute;
  left:50%;
  transition: left 0.3s ease, width 0.3s ease;
  display:block;
  bottom:0;
  background:#235AC6;
}

.App .header-row-4 a:hover:after {
  width:100%;
  left:0;
}

/* Banner1 ----------------------------------------------------------------------*/
.App .banner1 {
margin-bottom:-6px;
}

.App .banner1 .banner1-wrapper {
  width:100%;
  display:inline-block;
  background: linear-gradient(90deg, rgba(231,68,47,1) 0%, rgba(231,68,47,1) 27%, rgba(116,30,19,1) 69%, rgba(116,30,19,1) 100%);
  }

.App .banner1 .banner1-wrapper .banner1-img {
  width:50%;
  height:auto;
  margin:0 auto;
  display:block;
}

/* Carousel1 ----------------------------------------------------------------------*/


.App .carousel1-container .carousel1-slider {
  display:flex;
  width:100%;  
  position: relative;
  align-items:center;
}


.App .carousel1-container .carousel1-slider img {
  width:100%;
  height:auto;
  display:none;
}

.App .carousel1-container .carousel1-slider .current {
  display:block;
}

.App .carousel1-container .fas {
  color:red;
  font-size:50px;
  cursor: pointer;
  position:absolute;
  left:13px;
  transition:transform 0.3s ease;
}

.App .carousel1-container .fas:hover {
  transform: scale(1.3);
}

.App .carousel1-container .fas.fa-chevron-circle-right {
  right:13px;
  left:auto;
}

.App .carousel1-container .carousel1-slider .slick-dots-wrapper {
  position:absolute;
  left: 50%;
  bottom: -30px;
  font-size:20px;
  height:16px;
}

.App .carousel1-container .carousel1-slider .slick-dots-container {
  position:relative;
  display:flex;
  left: -50%;
  height:100%;
}

.App .carousel1-container .carousel1-slider .slick-dots-container .slick-dot-item {
  margin-left:20px;
  border:0;
  height:13px;
  width:13px;
  border-radius:20px;
  background-color:rgb(177, 177, 177);
  cursor: pointer;
  outline:none;
  transition: all ease 0.5s;
}

.App .carousel1-container .carousel1-slider .slick-dots-container .slick-dot-item.current {
  background-color:#235AC6;
  height:16px;
  width:16px;
}

/* Promotion1 -------------------------------------------------------*/
.App .promotion1-wrapper {
  margin-top:50px;
}

.App .promotion1-wrapper .promotion1-container {
  margin:0 auto;
  background:url('./img/promotion1/img1.webp');
  width:1240px;
  height:250px;
}


/* SpecialCarousel ---------------------------------------------------*/

.App .special-carousel-wrapper {
  position: relative;
  width:968px;
  margin: 0 auto;
}

.App .special-carousel-container {
  height:calc(1.2*388px);
  width:calc(1.2*640px);
  margin:0 auto;
  overflow: hidden;
  position:relative;
  margin-top:50px;
}


.App .special-carousel-container .special-carousel {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height:100%;
  }

.App .special-carousel-container .special-carousel img {
  height:auto;
  width:calc(1.2*640px);
}

.App .special-carousel-wrapper .special-carousel-products-container {
  position: absolute;
  top:0;
  left:25%;
  height:100%;
  width:100px;
  padding:20px;
}

.App .special-carousel-wrapper .special-carousel-products {
  opacity: 0;
  height: 100px;
  width:100px;
  background: white;
  position:absolute;
  transition: ease all 1s;
  left: -50%;
  border-radius:10px;
  display:grid;
  grid-template-columns: 1fr 3fr;
}

.App .special-carousel-wrapper .special-carousel-products-container .special-carousel-products img {
  height:auto;
  width:100%;
  margin-left:10px;
  margin-top:10px;
}

.App .special-carousel-wrapper .special-carousel-products .scp-content {
  margin:10px 20px;
}

.App .special-carousel-wrapper .special-carousel-products * {
  font-size:10px;
}


.App .special-carousel-wrapper .sc-prod1{  
  top: 0;  
}

.App .special-carousel-wrapper .sc-prod2{
  top: 150px;  
}

.App .special-carousel-wrapper .sc-prod3{
  top: 300px;  
}

.App .special-carousel-wrapper:hover .special-carousel-products {
  opacity: 1;
}

.App .special-carousel-wrapper:hover .sc-prod1 {
  top: 50px;
  width:300px;
  left:-50%;
  transition-delay:0.2s;
}

.App .special-carousel-wrapper:hover .sc-prod2 {
  top: 175px;
  transition-delay:0.5s;
  width:300px;
  left:-50%;
}

.App .special-carousel-wrapper:hover .sc-prod3 {
  top: 300px;
  transition-delay:0.7s;
  width:300px;
  left:-50%;
}

.App .special-carousel-wrapper .arrow-container {
  background:white;
  height:100%;
  width:100px;
  position:absolute;  
  top:0;
  left:0px;
  cursor:pointer;  
  font-size:30px;
  display:grid;
  transition: ease all 1s;
  place-items:center;
  opacity: 0;
}

.App .special-carousel-wrapper .arrow-container.left {
 left: 100px;
 border-radius: 10px 0 0 10px
}

.App .special-carousel-wrapper .arrow-container.right{
  left: auto;
  right: 100px;
  border-radius: 0 10px 10px 0;
}

.App .special-carousel-wrapper:hover .arrow-container.left {
  left:0px;
  opacity: 1;
}

.App .special-carousel-wrapper:hover .arrow-container.right {
  right:0px;
  left:auto;
  opacity: 1;
}



/* Carousel2 -------------------------------------------------------*/

.App .carousel2-wrapper {
  width:1300px;
  margin:0 auto;
  margin-top:50px;
  overflow:hidden;
  background:#F7F7F7;
}

.App .carousel2-wrapper .carousel2-container {
  background:white;
  overflow:hidden;
  width:1200px;
  position:relative;
  margin:0 auto;
  border-radius:10px;
}

.App .carousel2-wrapper .carousel2-container .carousel2 {
  display:flex;
  transition: ease all 1s;
  margin:0 100px;
}

.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item {
  text-align:center;
  opacity:0;
  width:250px;
  max-height:480px;
}

.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item.visible {
  opacity:1;
}

.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item img {
  height:40%;
}

.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item .content  {
  text-decoration:none;
}

.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item .content > * {
  min-height: 20px;
}

/*
.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item .content a > * {
  min-height:20px;
  width:80%;
  margin:0 auto;
  text-align:left;
}*/

.App .carousel2-wrapper .carousel2-container .fas {
  color:blue;
  font-size:30px;
  position:absolute;
  top:45%;
  cursor: pointer;
  left: 10px;
}

.App .carousel2-wrapper .carousel2-container .fas.fa-chevron-circle-right {
  left:auto;
  right:10px;
}


.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item .content .product-details {
  width:80%;
  margin-top:20px;
  text-align:left;
  color:black;
  min-height:88px;
}

.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item .content .old-price {
  color:black;
  margin-top:30px;
  font-size:13px;
  text-align:left;
  font-weight: bold;
}

.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item .content .old-price span {
  text-decoration:line-through;
}

.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item .content .actual-price {
  font-size:30px;
  text-align:left;
  font-weight: bold;
}

.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item .content .installment {
  text-align:left;
}

.App .carousel2-wrapper .carousel2-container .carousel2-deadline-container {
  margin-top:50px;
  display:grid;
  grid-template-columns: 3fr 1fr;
  font-size:28px;
  place-items:center;
  text-align:center;
  margin-bottom:50px;
  font-weight:bold;
  color:#0033C6;
}

.App .carousel2-wrapper .carousel2-container .carousel2-deadline-container div:nth-child(1) {
  display:grid;
  grid-template-rows:1fr 1fr
}

.App .carousel2-wrapper .carousel2-container .carousel2-deadline-container div:nth-child(1) span:nth-child(1){
  font-size:40px;
  margin-bottom:10px;
}

.App .carousel2-wrapper .carousel2-container .carousel2-deadline-container div:nth-child(1) span:nth-child(2) {
  font-size:20px;
  color:black;
  }

.App .carousel2-wrapper .carousel2-container .carousel2-deadline-container div {
position:relative;
line-height:30px;
}

.App .carousel2-wrapper .carousel2-container .carousel2-deadline-container div:nth-child(2)::before{
  content: '';
    width: 34px;
    height: 100%;
    background: url('https://static.chaordicsystems.com/static/casasbahia/v0.0.105/src/images/countdown.svg') center no-repeat;
    position: absolute;
    top: 0;
    left: -40px;
}

.App .carousel2-wrapper .carousel2-container .carousel2-deadline-container div:nth-child(2) span {
  font-size:40px;
}

.App .carousel2-wrapper .carousel2-container .carousel2-deadline-container div:nth-child(2) p {
  font-size:13px;
  color:black;
  margin:0;
}

/* Categories ------------------------------------------------------*/

.App .categories-container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  width:1120px;
  background:white;
  margin-top:50px;
  border-radius:20px;
  padding:40px 20px;
  place-items: center;
}

.App .categories-container .categories-item {
  max-width:186px;
  height:100%;
}

.App .categories-container .categories-item a {
  text-decoration:none;
  text-align:center;
}

.App .categories-container .categories-item a img {
  width:170px;
}

.App .categories-container .categories-item a:hover  img {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 50%;
}

.App .categories-container .categories-item:nth-child(10) {
  position:relative;

}

.App .categories-container .categories-item:nth-child(10) a {
  width: 165px;
  height:165px;
  border-radius: 50%;
  top:0;
  left:-85px;
  position:absolute;
  background: #F7F7F7;
}

.App .categories-container .categories-item:nth-child(10) a:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.App .categories-container .categories-item:nth-child(10) a img {
  position: absolute;
  top: 25px;
  left: 0;
  box-shadow:0 0 0 0; 
}


.App .categories-container .categories-item:nth-child(10) a p {
  position: relative;
  top:175px;
}

/* Most Wanted Carousel ----------------------------------------------------------*/

.App .most-wanted-container {
    width: 1120px;
    background:white;
    border-radius: 4px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding:20px;
    height:200px;
    border: solid blue 1px;
}

.App .most-wanted-container .pointy-container {
  display:grid;
  border:solid red 1px;
  grid-template-columns: 3fr 1fr;
}

.App .most-wanted-container .pointy-container .pointy-box1 {
  height:200px;
  background: #F6F6F6;
  display:grid;
  place-items: center;
  font-size: 30px;
  text-align:center;
  color: #0033C6;
}

.App .most-wanted-container .pointy-container .pointy-box2 {
  width:0;
  height:0;
  border-left: solid #F6F6F6 50px;
  border-top: solid transparent 100px;
  border-bottom: solid transparent 100px;
}

.App .most-wanted-container .mwcar-container {
  height:200px;
  position:relative;
  border: solid red 1px;
  overflow: hidden;
}

.App .most-wanted-container .mwcar-container button {
  position:absolute;
  top:50%;
  right: 0;
}

.App .most-wanted-container .mwcar-container button:nth-child(2) {
  left: 0;
}

.App .most-wanted-container .mwcar-container .mwcar-slider {
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 120px;
  transition: 0.3s ease all;
}

.App .most-wanted-container .mwcar-container .mwcar-slider .mwcar-item.invisible {
  opacity: 0;
}

.App .most-wanted-container .mwcar-container .mwcar-slider .mwcar-item {
  display:grid;
  grid-template-columns: 1fr 3fr;
  place-items:center;
  width: 600px;
  border: dotted red 1px;
  opacity: 1;
  height: 200px;
}

.App .most-wanted-container .mwcar-container .mwcar-slider .mwcar-item img{
  height:200px;
}

.App .most-wanted-container .mwcar-container .mwcar-slider .mwcar-item .mwcar-content {
  margin-left: 50px;
}

.App .most-wanted-container .mwcar-container .mwcar-slider .mwcar-item .mwcar-content span {
  font-size: 20px;
  color: #575757
}

.App .most-wanted-container .mwcar-container .mwcar-slider .mwcar-item .mwcar-content p {
  font-size: 16px;
  margin: 0;
  margin-top:10px;
  color: #707070;
  text-decoration: line-through;
}


.App .most-wanted-container .mwcar-container .mwcar-slider .mwcar-item .mwcar-content p:nth-child(3) {
  font-size: 24px;
  color: #0033C6;
  font-weight: 800;
  margin-top: 0px;
  text-decoration: none;
}