html, body {
  margin:0;
  padding:0;
  box-sizing:border-box;
  height:100%;
  background-color:#F7F7F7;
  font-family: 'Nunito', sans-serif;
}

* {
  font-family: 'Nunito', sans-serif;
}

.App .header-row-1 {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items:end;
  right:5%;
}

.App header .header-row-2 {
  display:grid;
  grid-template-columns: 1fr 4fr 2fr 1fr;
}

.App header .header-row-2 img {
  width:300px;
  height:auto;
}

.App header .header-row-2 form {
  border:solid 1px rgb(94, 94, 94);
  padding:10px;
  border-radius:10px;
  display:inline-block;
  margin-left:10%;
  position:relative;
  background-color:white;
}

.App header .header-row-2 form i {
  color:rgb(131, 131, 131);
position:absolute;
right:10px;
font-size:20px;
}

.App header .header-row-2 input {
  width:80%;
  border:0;
  height:100%;
}

.App header .header-row-2 input:focus{
  outline:none;
}

.App header .header-row-2  > span i,
.App header .header-row-2  > i {
  color:#2B78F8;
  margin-left:5%;
  font-size:40px;
}

.App header .header-row-2  > span i {
  justify-self:end;
  margin-right:20px;
  grid-row:  span 2;
}

.App header .header-row-2  > span {
  display:grid;
  grid-template-columns: 1fr 2fr;  
}


.App header .header-row-2  > span * {
  text-decoration:none;
}

.App header .header-row-2  > span span {
  grid-column: 2/3;
}

/* HeaderRow3 ----------------------------------------------------------------------*/

.App header .header-row-3 .grid-container{
  background-color:#235AC6;
  padding:10px 0;
  display:grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-items:center;
  text-align:center;
  border-bottom:4px solid #EE483B;
  position:relative;
  margin: 0 auto;
  margin-top:10px;
  font-weight:bold;

}

.App header .header-row-3 .grid-container .grid-item{
  height:100%;
  width:100%;
  display:grid;
  place-items:center;
  font-size:11px;
}

.App header .header-row-3 .grid-container .grid-item1{
  font-size:16px;
position:relative;
}

.App header .header-row-3 .grid-container a {
  color:white;
}


.App header .header-row-3 .grid-container .ddw1 {
  display:none;
  position:absolute;
  top:40px;
  left:0;
 }

 .App header .header-row-3 .grid-container .ddw2 {
  display:none;
  position:absolute;
  top:50px;
  left:150px;
 }

 .App header .header-row-3 .grid-container .dropdown-wrapper * {
   color:#235AC6;
   line-height: 20px;
 }

.App header .header-row-3 .grid-container .grid-item1:hover .ddw1, .App header .header-row-3 .grid-container .grid-item2:hover .ddw2 {
  display:block;
}

.App header .header-row-3 .grid-container .dropdown-content {  
  position:relative;
  border:1px solid gray;
  background-color:#F7F7F7;
  border-radius:5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index:2;
}

.App header .header-row-3 .grid-container .ddc1 {
  margin-left:10px;
  padding:10px;
  top:13px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  width:800px;
}

.App header .header-row-3 .grid-container .ddc2 {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  top:13px;
  
}

.App header .header-row-3 .grid-container .dropdown-content::before {
content:'';
position:absolute;
border:10px solid;
border-color: transparent transparent white transparent;
top:-1.2rem;
left:3rem;
}

.App header .header-row-3 .grid-container .ddc1 h3, .App header .header-row-3 .grid-container .ddc2 h3 {
  grid-column: 1/4;
  justify-self:start;
  margin-left:20px;
}

.App header .header-row-3 .grid-container .dropdown-content ul {
  list-style-type:none;
  font-size:16px;
  text-align:left;
}

/* HeaderRow4 ----------------------------------------------------------------------*/

.App .header-row-4 {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-items:center;
  text-align:center;
}

.App .header-row-4 a {
  text-decoration:none;
  margin:10px 0;
  color: #235AC6;
  position:relative;
}

.App .header-row-4 a:after {
  content:'';
  height:1px;
  width:0;
  position:absolute;
  left:50%;
  transition: left 0.3s ease, width 0.3s ease;
  display:block;
  bottom:0;
  background:#235AC6;
}

.App .header-row-4 a:hover:after {
  width:100%;
  left:0;
}

/* Banner1 ----------------------------------------------------------------------*/
.App .banner1 {
margin-bottom:-6px;
}

.App .banner1 .banner1-wrapper {
  width:100%;
  display:inline-block;
  background: linear-gradient(90deg, rgba(231,68,47,1) 0%, rgba(231,68,47,1) 27%, rgba(116,30,19,1) 69%, rgba(116,30,19,1) 100%);
  }

.App .banner1 .banner1-wrapper .banner1-img {
  width:50%;
  height:auto;
  margin:0 auto;
  display:block;
}

/* Carousel1 ----------------------------------------------------------------------*/


.App .carousel1-container .carousel1-slider {
  display:flex;
  width:100%;  
  position: relative;
  align-items:center;
}


.App .carousel1-container .carousel1-slider img {
  width:100%;
  height:auto;
  display:none;
}

.App .carousel1-container .carousel1-slider .current {
  display:block;
}

.App .carousel1-container .fas {
  color:red;
  font-size:50px;
  cursor: pointer;
  position:absolute;
  left:13px;
  transition:transform 0.3s ease;
}

.App .carousel1-container .fas:hover {
  transform: scale(1.3);
}

.App .carousel1-container .fas.fa-chevron-circle-right {
  right:13px;
  left:auto;
}

.App .carousel1-container .carousel1-slider .slick-dots-wrapper {
  position:absolute;
  left: 50%;
  bottom: -30px;
  font-size:20px;
  height:16px;
}

.App .carousel1-container .carousel1-slider .slick-dots-container {
  position:relative;
  display:flex;
  left: -50%;
  height:100%;
}

.App .carousel1-container .carousel1-slider .slick-dots-container .slick-dot-item {
  margin-left:20px;
  border:0;
  height:13px;
  width:13px;
  border-radius:20px;
  background-color:rgb(177, 177, 177);
  cursor: pointer;
  outline:none;
  transition: all ease 0.5s;
}

.App .carousel1-container .carousel1-slider .slick-dots-container .slick-dot-item.current {
  background-color:#235AC6;
  height:16px;
  width:16px;
}

/* Promotion1 -------------------------------------------------------*/
.App .promotion1-wrapper {
  margin-top:50px;
}

.App .promotion1-wrapper .promotion1-container {
  margin:0 auto;
  background:url('./img/promotion1/img1.webp');
  width:1240px;
  height:250px;
}


/* SpecialCarousel ---------------------------------------------------*/

.App .special-carousel-wrapper {
  position: relative;
  width:968px;
  margin: 0 auto;
}

.App .special-carousel-container {
  height:calc(1.2*388px);
  width:calc(1.2*640px);
  margin:0 auto;
  overflow: hidden;
  position:relative;
  margin-top:50px;
}


.App .special-carousel-container .special-carousel {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height:100%;
  }

.App .special-carousel-container .special-carousel img {
  height:auto;
  width:calc(1.2*640px);
}

.App .special-carousel-wrapper .special-carousel-products-container {
  position: absolute;
  top:0;
  left:25%;
  height:100%;
  width:100px;
  padding:20px;
}

.App .special-carousel-wrapper .special-carousel-products {
  opacity: 0;
  height: 100px;
  width:100px;
  background: white;
  position:absolute;
  transition: ease all 1s;
  left: -50%;
  border-radius:10px;
  display:grid;
  grid-template-columns: 1fr 3fr;
}

.App .special-carousel-wrapper .special-carousel-products-container .special-carousel-products img {
  height:auto;
  width:100%;
  margin-left:10px;
  margin-top:10px;
}

.App .special-carousel-wrapper .special-carousel-products .scp-content {
  margin:10px 20px;
}

.App .special-carousel-wrapper .special-carousel-products * {
  font-size:10px;
}


.App .special-carousel-wrapper .sc-prod1{  
  top: 0;  
}

.App .special-carousel-wrapper .sc-prod2{
  top: 150px;  
}

.App .special-carousel-wrapper .sc-prod3{
  top: 300px;  
}

.App .special-carousel-wrapper:hover .special-carousel-products {
  opacity: 1;
}

.App .special-carousel-wrapper:hover .sc-prod1 {
  top: 50px;
  width:300px;
  left:-50%;
  transition-delay:0.2s;
}

.App .special-carousel-wrapper:hover .sc-prod2 {
  top: 175px;
  transition-delay:0.5s;
  width:300px;
  left:-50%;
}

.App .special-carousel-wrapper:hover .sc-prod3 {
  top: 300px;
  transition-delay:0.7s;
  width:300px;
  left:-50%;
}

.App .special-carousel-wrapper .arrow-container {
  background:white;
  height:100%;
  width:100px;
  position:absolute;  
  top:0;
  left:0px;
  cursor:pointer;  
  font-size:30px;
  display:grid;
  transition: ease all 1s;
  place-items:center;
  opacity: 0;
}

.App .special-carousel-wrapper .arrow-container.left {
 left: 100px;
 border-radius: 10px 0 0 10px
}

.App .special-carousel-wrapper .arrow-container.right{
  left: auto;
  right: 100px;
  border-radius: 0 10px 10px 0;
}

.App .special-carousel-wrapper:hover .arrow-container.left {
  left:0px;
  opacity: 1;
}

.App .special-carousel-wrapper:hover .arrow-container.right {
  right:0px;
  left:auto;
  opacity: 1;
}



/* Carousel2 -------------------------------------------------------*/

.App .carousel2-wrapper {
  width:1100px;
  margin:0 auto;
  margin-top:50px;
  overflow:hidden;
  position: relative;
  background:white;
  border-radius:10px;
  padding-bottom: 30px;
  padding-top:20px;
}

.App .carousel2-wrapper .carousel2-container {
  overflow:hidden;
  width:1000px;
  position:relative;
  margin:0 auto;
  padding-bottom: 30px;
}

.App .carousel2-wrapper .carousel2-container .carousel2 {
  display:flex;
  transition: ease all 1s;
  margin:0 100px;
  position:relative;
  left:-100px;
}

.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item {
  text-align:center;
  opacity:0;
  width:250px;
  max-height:480px;
}

.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item.visible {
  opacity:1;
}

.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item img {
  height:40%;
}

.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item .content  {
  text-decoration:none;
}

.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item .content > * {
  min-height: 20px;
}

/*
.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item .content a > * {
  min-height:20px;
  width:80%;
  margin:0 auto;
  text-align:left;
}*/

.App .carousel2-wrapper .fas {
  color:blue;
  font-size:30px;
  position:absolute;
  top:45%;
  cursor: pointer;
  left: 20px;
}

.App .carousel2-wrapper  .fas.fa-chevron-circle-right {
  left:auto;
  right:20px;
}


.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item .content .product-details {
  width:80%;
  margin-top:20px;
  text-align:left;
  color:black;
  min-height:88px;
}

.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item .content .old-price {
  color:black;
  margin-top:30px;
  font-size:13px;
  text-align:left;
  font-weight: bold;
}

.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item .content .old-price span {
  text-decoration:line-through;
}

.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item .content .actual-price {
  font-size:30px;
  text-align:left;
  font-weight: bold;
}

.App .carousel2-wrapper .carousel2-container .carousel2 .carousel2-item .content .installment {
  text-align:left;
}

.App .carousel2-wrapper .carousel2-container .carousel2-deadline-container {
  margin-top:50px;
  display:grid;
  grid-template-columns: 3fr 1fr;
  font-size:28px;
  place-items:center;
  text-align:center;
  margin-bottom:50px;
  font-weight:bold;
  color:#0033C6;
}

.App .carousel2-wrapper .carousel2-container .carousel2-deadline-container div:nth-child(1) {
  display:grid;
  grid-template-rows:1fr 1fr
}

.App .carousel2-wrapper .carousel2-container .carousel2-deadline-container div:nth-child(1) span:nth-child(1){
  font-size:40px;
  margin-bottom:10px;
}

.App .carousel2-wrapper .carousel2-container .carousel2-deadline-container div:nth-child(1) span:nth-child(2) {
  font-size:20px;
  color:black;
  }

.App .carousel2-wrapper .carousel2-container .carousel2-deadline-container div {
position:relative;
line-height:30px;
}

.App .carousel2-wrapper .carousel2-container .carousel2-deadline-container div:nth-child(2)::before{
  content: '';
    width: 34px;
    height: 100%;
    background: url('https://static.chaordicsystems.com/static/casasbahia/v0.0.105/src/images/countdown.svg') center no-repeat;
    position: absolute;
    top: 0;
    left: -40px;
}

.App .carousel2-wrapper .carousel2-container .carousel2-deadline-container div:nth-child(2) span {
  font-size:40px;
}

.App .carousel2-wrapper .carousel2-container .carousel2-deadline-container div:nth-child(2) p {
  font-size:13px;
  color:black;
  margin:0;
}

/* Categories ------------------------------------------------------*/

.App .categories-wrapper {
  position: relative;
  margin-top: 80px;
}

.App .categories-wrapper h1 {
  font-size: 30px;
  color: #004a9d;
  margin:0;
  position: absolute;
  top: -50px;
  left: 110px;
}

.App .categories-container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  width:1120px;
  background:white;
  margin-top:50px;
  border-radius:20px;
  padding:40px 20px;
  place-items: center;
}

.App .categories-container .categories-item {
  max-width:186px;
  height:100%;
}

.App .categories-container .categories-item a {
  text-decoration:none;
  text-align:center;
}

.App .categories-container .categories-item a img {
  width:170px;
}

.App .categories-container .categories-item a:hover  img {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 50%;
}

.App .categories-container .categories-item:nth-child(10) {
  position:relative;

}

.App .categories-container .categories-item:nth-child(10) a {
  width: 165px;
  height:165px;
  border-radius: 50%;
  top:0;
  left:-85px;
  position:absolute;
  background: #ebebeb;
}

.App .categories-container .categories-item:nth-child(10) a:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.App .categories-container .categories-item:nth-child(10) a img {
  position: absolute;
  top: 25px;
  left: 0;
  box-shadow:0 0 0 0;
}


.App .categories-container .categories-item:nth-child(10) a p {
  position: relative;
  top:175px;
}

/* Most Wanted Carousel ----------------------------------------------------------*/

.App .most-wanted-container {
    width: 1120px;
    background:white;
    border-radius: 10px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding:20px;
    height:200px;
    border: solid rgb(207, 207, 207) 2px;
    position: relative;
    transition: ease 0.5s all;
}

.App .most-wanted-container:hover {
  border: solid blue 2px;
  
}


.App .most-wanted-container .pointy-container {
  display:grid;
  grid-template-columns: 3fr 1fr;
}

.App .most-wanted-container .pointy-container .pointy-box1 {
  height:200px;
  background: #F6F6F6;
  display:grid;
  place-items: center;
  font-size: 30px;
  text-align:center;
  color: #0033C6;
}

.App .most-wanted-container .pointy-container .pointy-box2 {
  width:0;
  height:0;
  border-left: solid #F6F6F6 50px;
  border-top: solid transparent 100px;
  border-bottom: solid transparent 100px;
}

.App .most-wanted-container .mwcar-container {
  height:200px;
  width: 600px;
  overflow:hidden;
  margin-left:141px;
}

.App .most-wanted-container .mwcar-container .mwcar-arrow-div {
  cursor: pointer;
  height: 100%;
  position:absolute;
  top:0%;
  right: 50px;
  width:50px;
  display: grid;
  place-items:center;
}

.App .most-wanted-container .mwcar-container .mwcar-arrow-div:nth-child(2) {
  
  left: 350px;
}

.App .most-wanted-container .mwcar-container .mwcar-arrow-div .fas {
  transition: 0.3s ease all;
  color: rgb(207, 207, 207);
  font-size:30px;
}

.App .most-wanted-container:hover .mwcar-arrow-div .fas {
  color: #0033C6;
}

.App .most-wanted-container .mwcar-container .slick-dots-container {
  position:absolute;
  display: flex;
  right: 100px;
  bottom: 10px;
}

.App .most-wanted-container .mwcar-container .slick-dots-container .dot-item {
  height:10px;
  width:10px;
  cursor: pointer;
  background:#f5f5f5;
  border: solid rgb(139, 139, 139) 1px;
  border-radius:50%;
  margin-left:13px;
  transition: ease all 0.3s;
}

.App .most-wanted-container .mwcar-container .mwcar-slider {
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  transition: 0.3s ease all;
  width: 600px;
}


.App .most-wanted-container .mwcar-container .mwcar-slider .mwcar-item {
  display:grid;
  grid-template-columns: 1fr 3fr;
  place-items:center;
  width: 600px;
  height: 200px;
}

.App .most-wanted-container .mwcar-container .mwcar-slider .mwcar-item img{
  height:200px;
}

.App .most-wanted-container .mwcar-container .mwcar-slider .mwcar-item .mwcar-content {
  margin-left: 50px;
}

.App .most-wanted-container .mwcar-container .mwcar-slider .mwcar-item .mwcar-content span {
  font-size: 20px;
  color: #575757
}

.App .most-wanted-container .mwcar-container .mwcar-slider .mwcar-item .mwcar-content p {
  font-size: 16px;
  margin: 0;
  margin-top:10px;
  color: #707070;
  text-decoration: line-through;
}


.App .most-wanted-container .mwcar-container .mwcar-slider .mwcar-item .mwcar-content p:nth-child(3) {
  font-size: 24px;
  color: #0033C6;
  font-weight: 800;
  margin-top: 0px;
  text-decoration: none;
}

/* Products (First Page) ----------------------------------------------------*/

.App .products-container h1{
  font-size: 30px;
  color: #004a9d;
  margin-left: 120px;

}

.App .products-container button{
  background: #004a9d;
  height: 50px;
  width: 250px;
  color: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.App .products-container button:focus {
  outline: none;
}

.App .products-container .products-grid {
  display: grid;
  width: 1120px;
  margin: 0 auto;
  grid-template-columns: 280px 280px 280px 280px;
  place-items: center;
  background: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.App .products-container .products-grid .product-item {
  height: 300px;
  width: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.App .products-container .products-grid .product-item img {
  width: 150px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-top: 25px;
}

.App .products-container .products-grid .product-item span {
  font-size: 12px;
  display: block;
  color: #004a9d;
}

.App .products-container .products-grid .product-item span:nth-child(3) {
  font-size: 16px;
  text-decoration: line-through;
  color: #666666;
  margin-top: 25px;
}

.App .products-container .products-grid .product-item span:nth-child(4) {
font-size: 23px;
color: #004a9d;
font-weight: bold;
}

/* Footer SubNewsLetter ---------------------------------------------------*/

.App .footer-container .snl-wrapper {
  background: #0033C6;
}

.App .footer-container .snl-container {
  height:80px;
  width:1360px;
  background: #0033C6;
  color:white;
  display: grid;
  font-weight: bold;
  place-items:center;
  margin: 0 auto;
  grid-template-columns: 340px 340px 340px 340px;
  grid-gap: 20px;
}

.App .footer-container .snl-container span {
  font-size: 1.22em;
}

.App .footer-container .snl-container input {
  width: 100%;
  height:30px;
  border-radius:3px;
  border:0;
  padding:0px 5px;
}

.App .footer-container .snl-container button {
  justify-self: start;
  width:200px;
  height: 33px;
  font-size: 1.125em;
  background: #51A559;
  color: white;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
}

/* Footer Contact ------------------------------------------------ */

.App .footer-container .footer-contact-wrapper {
  background: #EDEDED;
  height: 80px;
  border: solid #EDEDED 1px;
  display: grid;
  place-items: center;
}

.App .footer-container .footer-contact-wrapper .footer-contact-container {
  display: grid;
  grid-template-columns: 300px 400px 200px 200px;
  place-items: center;
  width: 1100px;
  margin: 0 auto;
}

.App .footer-container .footer-contact-wrapper .footer-contact-container * {
  margin:0;
}

.App .footer-container .footer-contact-wrapper .footer-contact-container h3 {
  font-size: 12px;
  color: #0033c6;
}

.App .footer-container .footer-contact-wrapper .footer-contact-container span {
  font-size: 16px;
  color: #283a87;
  line-height: 38px;
  font-weight: bold;
}

.App .footer-container .footer-contact-container .footer-whatsapp .whats-icon {
  background: url('https://www.casasbahia-imagens.com.br/App_Themes/CasasBahia/img/footer/ico-whats.svg') center center/cover no-repeat;
  height:20px;
  width: 20px;
  display: inline-block;
}

/* Footer About --------------------------------------------- */

.App .footer-container .footer-about-wrapper {
  background: #f5f5f5;
  border:solid #f5f5f5 1px;
}

.App .footer-container .footer-about-container {
  display: grid;
  grid-template-columns: 266px 266px 266px 266px;
  width: 1200px;
  margin: 0 auto;
  margin-top:20px;
  grid-gap:50px;
  padding-bottom: 20px;
  
}

.App .footer-container .footer-about-container div h3 {
  font-size: 14px;
  color: #0033c6;
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}

.App .footer-container .footer-about-container div span {
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  color: #575757;
}

.App .footer-container .footer-about-container div ul {
  margin:0;
  margin-top: 5px;
  padding:0;
  font-size: 14px;
  line-height: 25px;
  color: #575757;
  list-style-type: none;
}

/* Footer Last Row 1 ---------------------------------------------------------- */

.App .footer-container .footer-lr1-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 450px 900px;
  width: 1350px;
  place-items: center;
}

.App .footer-container .footer-lr1-container > * {
  height: 100%;
}

.App .footer-container .footer-lr1-container div h3 {
  font-size: 14px;
  color: #555555;
}

.App .footer-container .footer-lr1-container div:first-child .logo-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 250px;
}

.App .footer-container .footer-lr1-container div:first-child .logo-container .logo-wrapper {
  height:40px;
  width: 40px;
  background:   #575757;
  display: grid;
  place-items: center;
  border-radius: 5px;
}

.App .footer-container .footer-lr1-container div:first-child .logo-container .logo-wrapper:first-child div {
  background: url(https://www.casasbahia-imagens.com.br/App_Themes/CasasBahia/img/footer/icon-facebook.svg) no-repeat #575757 9px 6px;
  width:30px;
  height:30px;
}

.App .footer-container .footer-lr1-container div:first-child .logo-container .logo-wrapper:nth-child(2) div {
  background: url(https://www.casasbahia-imagens.com.br/App_Themes/CasasBahia/img/footer/icon-twitter.svg) no-repeat #575757 7px 8px;
  width:30px;
  height:30px;
}

.App .footer-container .footer-lr1-container div:first-child .logo-container .logo-wrapper:nth-child(3) div {
  background: url(https://www.casasbahia-imagens.com.br/App_Themes/CasasBahia/img/footer/icon-instagram.svg) no-repeat #575757 7px 6px;
  width:30px;
  height:30px;
}

.App .footer-container .footer-lr1-container div:first-child .logo-container .logo-wrapper:nth-child(4) div {
  background: url(https://www.casasbahia-imagens.com.br/App_Themes/CasasBahia/img/footer/icon-youtube.svg) no-repeat #575757 7px 9px;
  width:30px;
  height:30px;
}

.App .footer-container .footer-lr1-container div:nth-child(2) .payment-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

.App .footer-container .footer-lr1-container div:nth-child(2) .payment-container span {
  display:block;
  font-size: 12px;
  font-weight: bold;
  color: #555555;
  margin-bottom: 5px;
}

.App .footer-container .footer-lr1-container div:nth-child(2) .payment-container  img {
  margin-right: 10px;
}

/* Footer Last Row 2 ---------------------------------------------------------- */

.App .footer-container .footer-lr2-wrapper {
  margin-top: 50px;
}

.App .footer-container .footer-lr2-wrapper h3 {
  margin-left:100px;
  font-size: 14px;
  font-weight: bold;
  color: #555555;
  margin-bottom: 0;
}


.App .footer-container .footer-lr2-wrapper .footer-lr2-container {
  display: grid;
  grid-template-columns: 125px 125px 125px 125px 125px 125px 125px 125px 125px 125px;
  width: 1250px;
  margin: 0 auto;
}

.App .footer-container .footer-lr2-wrapper .footer-lr2-container ul {
  list-style-type: none;
}

.App .footer-container .footer-lr2-wrapper .footer-lr2-container a {
  color:#333333;
  text-decoration: none;
  font-size: 12px;
}

/* Footer Last Row 3 ------------------------------------------ */

.App .footer-container .footer-lr3-container {
  display: grid;
  grid-template-columns: 900px 450px ;
  width: 1350px;
  margin: 0 auto;
}

.App .footer-container .footer-lr3-container h3 {
  margin-left: 100px;
  margin-bottom:0;
  font-size: 14px;
  color: #555555;
}

.App .footer-container .footer-lr3-container .lr3-glossary {
  margin-top: 10px;
  margin-left: 110px;
}


.App .footer-container .footer-lr3-container .lr3-glossary a {
  border-left: solid black 1px;
  font-size: 12px;
  color: #333333;
  margin: 0 5px;
  padding-left:10px;
  text-decoration: none;
}

.App .footer-container .footer-lr3-container .lr3-glossary a:first-child {
  border: 0;
  margin-left:0 ;
  padding-left:0;
}

.App .footer-container .footer-lr3-container > div:nth-child(2) img {
  margin-left: 110px;
  margin-top:10px;  
}

.App .footer-container .footer-lr3-container > div:nth-child(2) img:nth-child(3) {
  margin-left : 10px;
}