body {
  background-color:#F7F7F7;
  font-family: 'Nunito', sans-serif;
}

.App .header-row-1 {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items:end;
  right:5%;
}

.App header .header-row-2 {
  display:grid;
  grid-template-columns: 1fr 4fr 2fr 1fr;
}

.App header .header-row-2 img {
  width:300px;
  height:auto;
}

.App header .header-row-2 form {
  border:solid 1px rgb(94, 94, 94);
  padding:10px;
  border-radius:10px;
  display:inline-block;
  margin-left:10%;
  position:relative;
  background-color:white;
}

.App header .header-row-2 form i {
  color:rgb(131, 131, 131);
position:absolute;
right:10px;
font-size:20px;
}

.App header .header-row-2 input {
  width:80%;
  border:0;
  height:100%;
}

.App header .header-row-2 input:focus{
  outline:none;
}

.App header .header-row-2  > span i,
.App header .header-row-2  > i {
  color:#2B78F8;
  margin-left:5%;
  font-size:40px;
}

.App header .header-row-2  > span i {
  justify-self:end;
  margin-right:20px;
  grid-row:  span 2;
}

.App header .header-row-2  > span {
  display:grid;
  grid-template-columns: 1fr 2fr;  
}


.App header .header-row-2  > span * {
  text-decoration:none;
}

.App header .header-row-2  > span span {
  grid-column: 2/3;
}

/* HeaderRow3 ----------------------------------------------------------------------*/

.App header .header-row-3 .grid-container{
  background-color:#235AC6;
  padding:10px 0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-items:center;
  text-align:center;
  margin-top:10px;
  border-bottom:4px solid #EE483B;
  position:relative;
}

.App header .header-row-3 .grid-container .grid-item{
  height:100%;
  width:100%;
  display:grid;
  place-items:center;
  font-weight:bold;
  font-size:13px;
}

.App header .header-row-3 .grid-container .grid-item1{
  font-size:16px;
position:relative;
}

.App header .header-row-3 .grid-container a {
  color:white;
}


.App header .header-row-3 .grid-container .ddw1 {
  display:none;
  position:absolute;
  top:40px;
  left:0;
 }

 .App header .header-row-3 .grid-container .ddw2 {
  display:none;
  position:absolute;
  top:50px;
  left:150px;
 }

 .App header .header-row-3 .grid-container .dropdown-wrapper * {
   color:#235AC6;
 }

.App header .header-row-3 .grid-container .grid-item1:hover .ddw1, .App header .header-row-3 .grid-container .grid-item2:hover .ddw2 {
  display:block;
}

.App header .header-row-3 .grid-container .dropdown-content {  
  position:relative;
  border:1px solid gray;
  background-color:#F7F7F7;
  border-radius:5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index:2;
}

.App header .header-row-3 .grid-container .ddc1 {
  margin-left:10px;
  padding:10px;
  top:13px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  width:800px;
}

.App header .header-row-3 .grid-container .ddc2 {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  top:13px;
  
}

.App header .header-row-3 .grid-container .dropdown-content::before {
content:'';
position:absolute;
border:10px solid;
border-color: transparent transparent white transparent;
top:-1.2rem;
left:3rem;
}

.App header .header-row-3 .grid-container .ddc1 h3, .App header .header-row-3 .grid-container .ddc2 h3 {
  grid-column: 1/4;
  justify-self:start;
  margin-left:20px;
}

.App header .header-row-3 .grid-container .dropdown-content ul {
  list-style-type:none;
  font-size:16px;
  text-align:left;
}

/* HeaderRow4 ----------------------------------------------------------------------*/

.App .header-row-4 {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-items:center;
  text-align:center;
}

.App .header-row-4 a {
  text-decoration:none;
  margin:10px 0;
  color: #235AC6;
  position:relative;
}

.App .header-row-4 a:after {
  content:'';
  height:1px;
  width:0;
  position:absolute;
  left:50%;
  transition: left 0.3s ease, width 0.3s ease;
  display:block;
  bottom:0;
  background:#235AC6;
}

.App .header-row-4 a:hover:after {
  width:100%;
  left:0;
}

/* Banner1 ----------------------------------------------------------------------*/
.App .banner1 {
margin-bottom:-6px;
}

.App .banner1 .banner1-wrapper {
  width:100%;
  display:inline-block;
  background: linear-gradient(90deg, rgba(231,68,47,1) 0%, rgba(231,68,47,1) 27%, rgba(116,30,19,1) 69%, rgba(116,30,19,1) 100%);
  }

.App .banner1 .banner1-wrapper .banner1-img {
  width:50%;
  height:auto;
  margin:0 auto;
  display:block;
}

/* Carousel1 ----------------------------------------------------------------------*/
.App .carousel1-container {
  width:100%;
}

.App .carousel1-container .carousel1-slider {
  display:flex;
  width:100%;
  position: relative;
}

.App .carousel1-container .carousel1-slider img {
  width:100%;
  height:auto;
}

.App .carousel1-container .fas {
  color:red;
  font-size:50px;
  cursor: pointer;
  position:absolute;
  top:50%;
  left:10px;
}

.App .carousel1-container .fas:hover {
}

.App .carousel1-container .fas.fa-chevron-circle-right {
  right:10px;
  left:auto;
}






