.App .banner1 {
    margin-bottom:-6px;
    }
    
    .App .banner1 .banner1-wrapper {
      width:100%;
      display:inline-block;
      background: linear-gradient(90deg, rgba(231,68,47,1) 0%, rgba(231,68,47,1) 27%, rgba(116,30,19,1) 69%, rgba(116,30,19,1) 100%);
      }
    
    .App .banner1 .banner1-wrapper .banner1-img {
      width:50%;
      height:auto;
      margin:0 auto;
      display:block;
    }